body {
    background-color: #fff0f5; 
    margin: 0;
    font-family: sans-serif; 
}
#container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start; 
    justify-content: center;
    margin-top: 36px;
    gap: 40px;
}

#container div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px; 
    padding: 15px;
    text-align: center;
    padding-top: 40px;
}


#container div h2 {
    margin-top: 30px;
    margin-bottom: 5px;
    font-size: 1.5rem;
    margin-bottom: 10px;
    min-height: 80px; 
}


#container div p {
    margin-top: 0;
    font-size: 1.8rem;
    font-weight: bold;
}


#container div img {
    width: 100%;
    max-width: 250px; 
    height: 350px;
    object-fit: cover; 
    margin-bottom: 20px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1); 
}


#container div a {
    background-color: rgb(182, 182, 182);
    padding: 10px 30px;
    color: black;
    text-decoration: none;
    border-radius: 6px;
    font-weight: 500;
    transition: background 0.3s;
}

#container div a:hover {
    background-color: rgb(159, 159, 159);
}